:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.section-9 {
  background-color: #272727;
  background-image: url('../images/191216150007806186.webp');
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  display: flex;
}

.heading-32 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: break-spaces;
  padding-left: 0;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 200;
}

.paragraph-8 {
  color: #fff;
  text-align: center;
  white-space: break-spaces;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.container-16 {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.hero-wrapper-5 {
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.hero-split-5 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.container-19 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom-24px-5 {
  color: #fff;
  white-space: break-spaces;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.heading-28 {
  color: #fff;
  white-space: break-spaces;
  font-size: 60px;
  font-weight: 400;
}

.button-primary-4 {
  color: #000;
  letter-spacing: 2px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.button-primary-4._1 {
  padding-left: 94px;
  font-weight: 300;
}

.button-primary-4._2 {
  background-color: #b6b6b6;
  font-weight: 300;
}

.hero-heading-left-2 {
  background-color: #b8e0b7;
  border: 1px #000;
  border-bottom-width: 0;
  padding: 140px 30px 100px;
  position: relative;
}

.container-20 {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.shadow-two-5 {
  filter: contrast(86%);
}

.hero-heading-right-3 {
  background-color: #b8e0b7;
  border-bottom: 0 #e4ebf3;
  padding: 100px 30px 140px;
  position: relative;
}

.container-21 {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.margin-bottom-24px-6 {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
}

.hero-heading-left-3 {
  background-color: #272727;
  background-image: linear-gradient(rgba(24, 24, 24, .81), rgba(24, 24, 24, .81)), url('../images/wallpaper-1.png');
  background-position: 0 0, 0%;
  background-size: auto, auto;
  border-bottom: 1px solid #e4ebf3;
  padding: 100px 30px 140px;
  position: relative;
}

.container-22 {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.hero-heading-right-5 {
  background-color: #b8e0b7;
  border-bottom: 1px solid #e4ebf3;
  padding: 140px 30px;
  position: relative;
}

.margin-bottom-24px-7 {
  color: #fff;
  margin-bottom: 20px;
}

.heading-27 {
  color: #fff;
}

.bold-text-5 {
  font-size: 60px;
  font-weight: 700;
}

.section {
  background-color: #272727;
  border-top: 1px #e2e2e2;
  border-bottom: 1px #e2e2e2;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.paragraph-tiny {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  color: #000;
  background-color: #272727;
  border: 0 #e6e6e6;
  align-items: center;
  padding: 10px 50px;
  display: flex;
}

.navigation-items {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-right: 34px;
  display: flex;
}

.heading-10 {
  color: #fff;
  letter-spacing: 5px;
  text-transform: lowercase;
  margin-bottom: 20px;
  padding-left: 79px;
  font-size: 18px;
  font-weight: 700;
}

.navigation-wrap {
  align-items: center;
  display: flex;
}

.navigation-item {
  opacity: 1;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 800;
  line-height: 10px;
  transition-property: none;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1a1a;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.section-10 {
  z-index: 10;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  position: relative;
}

.section-10.clip {
  overflow: hidden;
}

.section-10.no-bottom-padding {
  padding-bottom: 0;
}

.section-10.no-padding {
  padding: 0;
}

.arrow-icon {
  width: 14px;
}

.tab-bottom {
  background-color: rgba(244, 248, 250, 0);
  border-top: 1px #e4e9ec;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.button {
  color: #000;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 14px 23px 14px 28px;
  font-size: 11px;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
}

.button.dark {
  color: #fff;
  background-color: #080808;
  line-height: 1.5em;
}

.wrapper-testimonials {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  overflow: visible;
}

.instagram-grid {
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 6px;
  display: grid;
}

.arrow-cover {
  z-index: 25;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.product-page-hero {
  justify-content: center;
  display: flex;
}

.compare-price {
  color: #202020;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: line-through;
}

.half-grid {
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 50vw 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.product-sidebar {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: stretch;
  align-items: start;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}

.product-top {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.showcase-grid {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  align-items: start;
  width: 100%;
  padding-top: 65px;
  display: grid;
}

.back-button-wrapper {
  margin-right: 0;
  padding-right: 0;
  position: absolute;
  top: 36px;
  bottom: auto;
  left: 5vw;
  right: auto;
}

.stacked-content {
  z-index: 20;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  display: grid;
  position: relative;
}

.stacked-content.large {
  grid-row-gap: 140px;
  grid-template-rows: auto;
}

.stacked-content.small {
  grid-row-gap: 26px;
}

.product-price {
  grid-column-gap: 16px;
  grid-row-gap: 6px;
  color: #667479;
  letter-spacing: .04em;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  font-size: 18px;
  font-weight: 300;
  display: grid;
}

.stacked-intro {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.stacked-intro.small {
  grid-row-gap: 18px;
}

.width-large {
  max-width: 700px;
}

.width-small {
  max-width: 425px;
}

.tab-list {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 1px #e4e9ec;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.lottie-tab-icon {
  z-index: 10;
  opacity: 1;
  filter: invert();
  width: 14px;
  position: relative;
}

.grid-wrapper {
  z-index: 25;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(5vw, 1fr) minmax(auto, 1500px) minmax(5vw, 1fr);
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  position: relative;
}

.grid-wrapper.clip {
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}

.testimonial {
  text-align: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product-detail-collection {
  margin-left: -6.5vw;
}

.instagram-background {
  background-image: url('../images/Image003.jpeg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.instagram-background.four {
  background-image: url('../images/Image008-1.jpg');
}

.instagram-background.two {
  background-image: url('../images/Image004-2.jpg');
}

.instagram-background.three {
  background-image: url('../images/Image001-1.jpg');
}

.instagram-background.one {
  background-image: url('../images/Image002-1.jpg');
}

.body-display {
  color: #000;
  font-size: 18px;
  line-height: 1.65em;
}

.body-display.extra-small {
  color: #fff;
  font-family: Varela, sans-serif;
  font-size: 15px;
}

.body-display.small {
  color: #fafafa;
  font-size: 15px;
}

.product-page-title {
  color: #f3f3f3;
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.mask-testimonials {
  width: 60%;
  overflow: visible;
}

.product-page-top {
  flex-direction: column;
  display: flex;
}

.subtitle {
  color: #000;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
}

.slider-testimonials {
  background-color: rgba(221, 221, 221, 0);
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  display: flex;
}

.hover-arrow {
  z-index: 5;
  background-color: #07090c;
  border: 1px #e4e9ec;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  display: none;
  position: fixed;
  top: -38px;
  bottom: auto;
  left: -30px;
  right: auto;
}

.product-feature-image {
  max-width: none;
  height: 100%;
}

.testimonial-slide-nav {
  height: 12px;
  padding-top: 0;
  font-size: 6px;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.large-showcase-image {
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  margin-right: 6.5vw;
  padding-top: 65px;
  padding-bottom: 80px;
  padding-right: 48px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.product-detail-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(auto, 500px);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-top: -65px;
  display: grid;
}

.page-content {
  z-index: 10;
  background-color: #fff;
  position: relative;
}

.page-content.top-pad {
  background-color: rgba(255, 128, 32, 0);
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 100px;
}

.half-content {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  max-width: 600px;
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
}

.button-text-wrapper {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.dual-button {
  grid-column-gap: 48px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.half-image {
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

.link-arrow-wrapper {
  overflow: hidden;
}

.hover-cover {
  background-color: #f4f8fa;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tab-title {
  z-index: 25;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #080808;
  letter-spacing: .15em;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
  display: grid;
  position: relative;
}

.tab-bottom-content {
  border-top: 1px #e4e9ec;
  margin-left: auto;
  margin-right: auto;
  padding: 28px 24px 28px 0;
}

.product-benefit-background {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.underline-link {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  color: #667479;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 1px #e4e9ec;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  font-size: 11px;
  line-height: 1.5em;
  text-decoration: none;
  display: grid;
}

.wrapper-intro {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  display: grid;
}

.background-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.tab-item {
  border-bottom: 1px #e4e9ec;
  flex-direction: column;
  display: flex;
}

.related-products {
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.testimonial-arrow {
  border: 1px #e4e9ec;
  justify-content: center;
  align-items: center;
  width: 20%;
  display: flex;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.35em;
}

.heading.large {
  font-size: 42px;
}

.product-grid {
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.width-extra-large {
  max-width: 975px;
}

.tab-top {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 28px 0;
  text-decoration: none;
  transition: padding .5s cubic-bezier(.25, .46, .45, .94);
  position: relative;
  overflow: hidden;
}

.tab-top:hover {
  padding-left: 0;
  padding-right: 0;
}

.instagram-image-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.showcase-grid-image {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.product-wrapper {
  grid-column-gap: 6.5vw;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(auto, 500px);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.product-left {
  position: relative;
}

.image {
  width: 17vw;
  max-width: 275px;
  height: 13vw;
  max-height: 200px;
  margin-top: 0;
  margin-bottom: -36px;
  position: relative;
  overflow: hidden;
}

.image.full-width {
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin-bottom: 0;
}

.instagram-image {
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  min-height: 16vw;
  font-size: 22px;
  line-height: 1.2em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.instagram-image.middle {
  color: #07090c;
  letter-spacing: .15em;
  min-width: 33.33vw;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.slider-arrow {
  width: 15px;
}

.product-block {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  border-bottom: 1px #e4e9ec;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
}

.product-block:last-child {
  border-bottom-style: none;
}

.product-block.no-bottom-padding {
  padding-bottom: 0;
}

.feature-list {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  border-radius: 0;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 0;
  display: grid;
}

.feature-item {
  grid-column-gap: 22px;
  grid-row-gap: 20px;
  color: #667479;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  font-weight: 400;
  display: grid;
}

.feature-icon {
  opacity: .55;
  filter: none;
  color: #acbfc5;
  width: 22px;
}

.button-2 {
  text-align: center;
  background-color: #000;
}

.button-3 {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 6px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.button-3:hover {
  background-color: #c9c9c9;
}

.text-block {
  color: #f3f3f3;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.divider {
  background-color: #000;
  height: 3px;
}

.divider.cc-dark-divider {
  background-color: #202020;
  height: 3px;
}

.product-informations {
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-item {
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  display: flex;
}

.paragraph-light {
  opacity: 1;
  letter-spacing: 0;
  text-transform: none;
  font-size: 22px;
  line-height: 28px;
}

.paragraph-light.product-detail {
  font-size: 26px;
}

.product-detail-measurement {
  align-items: center;
  display: flex;
}

.product-detail {
  font-size: 28px;
}

.list {
  color: #fff;
}

.text-block-2 {
  color: #929292;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 800;
}

.container-23 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  display: flex;
}

.body {
  background-color: #e89bc3;
}

.section-11 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.body-2 {
  background-color: #abdfe2;
}

@media screen and (min-width: 1920px) {
  .shadow-two-5, .hero-heading-right-3 {
    box-shadow: none;
  }

  .bold-text-5 {
    font-size: 60px;
    line-height: 70px;
  }

  .navigation {
    background-color: #272727;
    border: 0 rgba(230, 230, 230, 0);
  }

  .heading-10 {
    color: #fff;
  }

  .navigation-item {
    color: #fff;
    background-color: #272727;
  }
}

@media screen and (max-width: 991px) {
  .hero-wrapper-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-wrapper-5._2 {
    flex-flow: column-reverse;
  }

  .shadow-two-6 {
    margin-bottom: -242px;
    overflow: visible;
  }

  .hero-split-5 {
    max-width: 100%;
    margin-bottom: 40px;
    overflow: visible;
  }

  .container-19 {
    max-width: 728px;
  }

  .heading-28 {
    overflow: visible;
  }

  .hero-heading-left-2 {
    padding-top: 100px;
  }

  .shadow-two-5 {
    margin-bottom: -219px;
    overflow: hidden;
  }

  .shadow-two-8 {
    margin-bottom: -107px;
    overflow: hidden;
  }

  .hero-heading-left-3 {
    background-color: #3f3f3f;
    background-image: none;
  }

  .shadow-two-9 {
    margin-bottom: -123px;
    overflow: hidden;
  }

  .navigation {
    background-color: #272727;
    padding: 25px 30px;
  }

  .navigation-items {
    background-color: #272727;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-icon {
    color: #686d81;
    display: block;
  }

  .section-10 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .instagram-grid {
    grid-row-gap: 6px;
  }

  .half-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .product-sidebar {
    max-width: 675px;
    padding-top: 48px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .showcase-grid {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding-top: 0;
  }

  .showcase-item {
    width: 50vw;
    min-width: 50vw;
    padding-right: 0;
  }

  .tab-list {
    max-width: none;
  }

  .product-detail-collection {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 6px;
    overflow: auto;
  }

  .large-showcase-image {
    min-height: auto;
    max-height: none;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }

  .product-detail-grid {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .half-content {
    grid-row-gap: 36px;
    background-color: #fff;
    max-width: none;
    padding: 0 10vw 80px 5vw;
  }

  .half-image {
    height: 70vw;
    min-height: 500px;
  }

  .hover-cover {
    display: none;
  }

  .large-collection-item {
    min-width: 40vw;
  }

  .related-products {
    padding-left: 5vw;
    overflow: auto;
  }

  .heading {
    font-size: 32px;
  }

  .heading.large {
    font-size: 38px;
  }

  .tab-top:hover {
    padding-left: 0;
    padding-right: 0;
  }

  .product-wrapper {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .product-left {
    overflow: auto;
  }

  .image {
    width: 19vw;
    height: 14vw;
    margin-bottom: -50%;
  }

  .instagram-image {
    min-height: 18vw;
  }

  .instagram-image.middle {
    min-width: 25vw;
    min-height: 10vw;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading-left-2, .hero-heading-right-3 {
    padding: 60px 15px;
  }

  .shadow-two-7 {
    margin-bottom: -31px;
  }

  .hero-heading-left-3, .hero-heading-right-5 {
    padding: 60px 15px;
  }

  .section {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    text-align: center;
  }

  .navigation {
    color: #000;
    background-color: #272727;
    padding: 20px 30px;
  }

  .navigation-items {
    background-color: #272727;
  }

  .section-10 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .wrapper-testimonials {
    justify-content: center;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    overflow: hidden;
  }

  .instagram-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-sidebar {
    padding-top: 36px;
  }

  .showcase-item {
    width: 75vw;
    min-width: 75vw;
  }

  .testimonial {
    max-width: none;
  }

  .mask-testimonials {
    width: 100%;
  }

  .large-showcase-image {
    margin-right: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .half-content {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .half-image {
    height: 75vw;
    min-height: 400px;
  }

  .large-collection-item {
    min-width: 60vw;
  }

  .wrapper-intro {
    grid-template-columns: 1fr;
    justify-content: start;
    justify-items: start;
  }

  .heading.large {
    font-size: 36px;
  }

  .instagram-image {
    min-height: 23vw;
  }
}

@media screen and (max-width: 479px) {
  .heading-32 {
    font-size: 48px;
  }

  .paragraph-8 {
    font-size: 14px;
  }

  .shadow-two-6 {
    margin-bottom: -150px;
  }

  .container-19 {
    max-width: none;
  }

  .heading-28 {
    font-size: 50px;
  }

  .hero-heading-left-2 {
    padding-bottom: 60px;
  }

  .shadow-two-5 {
    margin-bottom: -152px;
  }

  .hero-heading-right-3 {
    padding-top: 20px;
  }

  .shadow-two-7 {
    margin-bottom: -84px;
  }

  .shadow-two-8 {
    margin-bottom: -97px;
  }

  .navigation {
    background-color: #272727;
    border-bottom-style: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation-items {
    background-color: #272727;
  }

  .heading-10 {
    color: #fff;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .section-10 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .instagram-grid {
    grid-template-columns: 1fr 1fr;
  }

  .stacked-content {
    grid-row-gap: 36px;
  }

  .half-content {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .dual-button {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
  }

  .half-image {
    height: 80vw;
    min-height: 275px;
  }

  .large-collection-item {
    min-width: 85vw;
  }

  .tab-bottom-content {
    padding: 36px 24px;
  }

  .related-products {
    padding-left: 5vw;
    overflow: auto;
  }

  .heading {
    font-size: 26px;
  }

  .heading.large {
    font-size: 32px;
  }

  .instagram-image {
    min-height: 48vw;
  }

  .instagram-image.middle {
    min-height: 20vw;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
  }
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c0292ea-5c0292e7 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c0292eb-5c0292e7 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#buy.w-node-_117b348e-7eda-6bb2-10a7-76145c0292ee-5c0292e7 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: start;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c02930e-5c0292e7 {
  align-self: auto;
  justify-self: auto;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c029331-5c0292e7 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c029333-5c0292e7 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c029340-5c0292e7 {
  justify-self: start;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c02934f-5c0292e7 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c02935f-5c0292e7 {
  justify-self: start;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c029368-5c0292e7 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c02936e-5c0292e7 {
  justify-self: end;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c029376-5c0292e7 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_117b348e-7eda-6bb2-10a7-76145c029377-5c0292e7 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc9768379-2dda69ad {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc976837a-2dda69ad {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#buy.w-node-d43f5a84-46e3-84b6-56cc-b71dc976837d-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: start;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc976839d-2dda69ad {
  align-self: auto;
  justify-self: auto;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683c0-2dda69ad {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683c2-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683cf-2dda69ad {
  justify-self: start;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683de-2dda69ad {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683ee-2dda69ad {
  justify-self: start;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683f7-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc97683fd-2dda69ad {
  justify-self: end;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc9768405-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-d43f5a84-46e3-84b6-56cc-b71dc9768406-2dda69ad {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

@media screen and (max-width: 991px) {
  #w-node-_117b348e-7eda-6bb2-10a7-76145c0292ea-5c0292e7 {
    grid-column-end: 4;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c0292eb-5c0292e7, #buy.w-node-_117b348e-7eda-6bb2-10a7-76145c0292ee-5c0292e7 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c029333-5c0292e7 {
    grid-column: 1 / 6;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c02934f-5c0292e7 {
    grid-column: 1 / 4;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c029350-5c0292e7 {
    order: 9999;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c029376-5c0292e7 {
    grid-column: 1 / 4;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768379-2dda69ad {
    grid-column-end: 4;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc976837a-2dda69ad, #buy.w-node-d43f5a84-46e3-84b6-56cc-b71dc976837d-2dda69ad {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc97683c2-2dda69ad {
    grid-column: 1 / 6;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc97683de-2dda69ad {
    grid-column: 1 / 4;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc97683df-2dda69ad {
    order: 9999;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768405-2dda69ad {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_117b348e-7eda-6bb2-10a7-76145c02936e-5c0292e7 {
    justify-self: start;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c029385-5c0292e7, #w-node-_117b348e-7eda-6bb2-10a7-76145c029397-5c0292e7 {
    grid-area: 1 / 1 / 2 / 5;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc97683fd-2dda69ad {
    justify-self: start;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768414-2dda69ad, #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768426-2dda69ad {
    grid-area: 1 / 1 / 2 / 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_117b348e-7eda-6bb2-10a7-76145c029376-5c0292e7 {
    grid-column-start: 1;
  }

  #w-node-_117b348e-7eda-6bb2-10a7-76145c029385-5c0292e7, #w-node-_117b348e-7eda-6bb2-10a7-76145c029397-5c0292e7 {
    grid-row: 2 / 3;
    grid-column-end: 3;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768405-2dda69ad {
    grid-column-start: 1;
  }

  #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768414-2dda69ad, #w-node-d43f5a84-46e3-84b6-56cc-b71dc9768426-2dda69ad {
    grid-row: 2 / 3;
    grid-column-end: 3;
  }
}


