:root {
  --white: white;
  --black: black;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
  text-decoration: none;
}

a {
  color: #7a7a7a;
  text-decoration: none;
}

.heading-jumbo-4 {
  color: #fff;
  text-align: left;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
}

.fn-footer-image {
  opacity: 1;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-bottom: 0;
  display: flex;
}

.fn-footer-image._1 {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}

.fn-footer-legal-link-2 {
  opacity: .64;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  transition: color .25s;
}

.fn-footer-legal-link-2:hover {
  color: silver;
}

.fn-social-link-dark {
  color: #1d1f1e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  transition: opacity .25s;
  display: flex;
}

.fn-social-link-dark:hover {
  opacity: .7;
}

.divider {
  color: #000;
  background-color: #000;
  height: 1px;
}

.divider.cc-dark-divider {
  background-color: #000;
  height: 3px;
  margin-bottom: 40px;
}

.divider.cc-dark-divider._1 {
  margin-bottom: 20px;
}

.section-14 {
  background-color: #b6ff7e;
}

.fn-footer-wrapper-2 {
  grid-column-gap: 24px;
  grid-row-gap: 10px;
  color: #1d1f1e;
  background-color: #b6ff7e;
  border-radius: 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  overflow: hidden;
}

.fn-footer-copyright {
  opacity: .63;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 800;
}

.fn-brand-box {
  object-fit: contain;
  object-position: 0% 50%;
  width: 106px;
  height: 21.55px;
  margin-right: 0;
  transition: opacity .25s;
}

.fn-brand-box:hover {
  opacity: .7;
}

.fn-legal-links-wrapper {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  color: #fff;
  background-color: #202020;
  flex-flow: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat, sans-serif;
  line-height: 14px;
  display: flex;
}

.fn-social-share-wrapper-second {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  display: none;
}

.fn-links-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.fn-footer-advence-2 {
  color: #ecf0ef;
  background-color: #272727;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Open Sans, sans-serif;
  display: flex;
  overflow: hidden;
}

.fn-social-link-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

.fn-container-grid-2 {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}

.container-30 {
  background-color: rgba(39, 39, 39, 0);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.container-30.cu {
  flex-flow: row;
}

.contact-email-link {
  opacity: .6;
  color: #fff;
  margin-bottom: 5px;
}

.contact-email-link:hover {
  opacity: 1;
  color: #888;
}

.contact-email-link:active {
  opacity: .8;
}

.label-2 {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.section-2 {
  background-color: #272727;
  border-top: 3px #000;
  margin-left: 0;
  margin-right: 0;
}

.section-2.cu {
  border-top-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-light-5 {
  opacity: .6;
  color: #fff;
}

.contact-form-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 2.5fr 1fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.details-wrap {
  margin-bottom: 30px;
}

.container-35 {
  background-color: rgba(39, 39, 39, 0);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.container-35.cu {
  flex-flow: row;
}

.container-35.cu.aout:hover {
  color: #e4e4e4;
}

.section-15 {
  background-color: #272727;
  border-top: 3px #000;
  margin-left: 0;
  margin-right: 0;
}

.section-15.cu {
  border-top-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph-light-4 {
  opacity: 1;
  letter-spacing: 0;
  text-transform: none;
  font-size: 22px;
  line-height: 28px;
}

.paragraph-light-4.fb {
  color: #abbbe2;
}

.paragraph-light-4.fb:hover {
  color: #c5c9d3;
}

.paragraph-light-4.fb:active {
  color: #577cd3;
}

.paragraph-light-6 {
  opacity: .6;
  color: #fff;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.flex-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column-reverse;
  order: 0;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 12px;
}

.heading-40 {
  outline-offset: 0px;
  color: #252525;
  text-transform: uppercase;
  border: 3px solid #000;
  border-radius: 0;
  outline: 3px #000;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 10px;
  font-family: Exo, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  display: flex;
}

.heading-40:active {
  color: #666;
}

.body {
  background-color: #b6ff7e;
}

.heading-15 {
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 900;
}

.product-detail-main-details {
  margin-bottom: 30px;
}

.product-details-wrap {
  width: 75%;
  max-width: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.section {
  background-color: #272727;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.section.cc-product-detail {
  background-color: #b6ff7e;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 20px;
  padding: 60px 40px;
  display: flex;
}

.product-detail-price {
  opacity: 1;
  color: #000;
  letter-spacing: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 52px;
  text-decoration: none;
}

.product-informations {
  margin-top: 25px;
  margin-bottom: 25px;
}

.list-item {
  color: #000;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  display: flex;
}

.product-detail-measurement {
  align-items: center;
  display: flex;
}

.product-detail-unit-text {
  margin-left: 6px;
}

.paragraph-light {
  opacity: 1;
  color: #000;
  letter-spacing: 0;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #0c0c0c;
  text-transform: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}

.tabs {
  margin-top: 0;
  padding-left: 140px;
  padding-right: 140px;
}

.button-9 {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  max-width: 400px;
  margin-top: 24px;
  margin-left: 0;
  margin-right: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.button-9:hover {
  color: #fff;
  background-color: #030303;
}

.button-9.tab1 {
  border-radius: 0;
}

.button-9.tab1.w--current {
  color: #fff;
  background-color: #000;
  border-radius: 0;
}

.page-content {
  z-index: 10;
  background-color: #fff;
  position: relative;
}

.page-content.top-pad {
  background-color: #b6ff7e;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 140px;
}

.tabs-content {
  outline-offset: 0px;
  border-top: 3px #000;
  outline: 3px #000;
  margin-top: 0;
}

.paragraph-2 {
  font-weight: 700;
}

.rich-text-block-3 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 60px;
  margin-top: 20px;
  padding: 60px 40px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.tabs-menu {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 11px;
  margin-left: 0;
  display: flex;
}

.tab-pane-tab-1 {
  background-color: #f8f8f8;
  border: 6px solid #000;
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 500;
}

.image {
  outline-offset: 0px;
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border-radius: 0;
  outline: 3px #000;
}

.button-10 {
  z-index: 6;
  clear: none;
  color: #fff;
  -webkit-text-fill-color: inherit;
  object-fit: none;
  background-color: #000;
  background-clip: border-box;
  margin-right: -149px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  position: relative;
  overflow: auto;
}

.heading-41 {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.text-block-18, .text-block-19, .text-block-20 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.tab-pane-tab-1-2 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 500;
}

.efi-h4 {
  color: #fff;
}

.efi-ft-01-feature-wrapper {
  text-align: center;
  flex-direction: column;
  order: 1;
  justify-content: center;
  align-items: center;
  display: none;
}

.image-2 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.efi-ft-01-image-wrapper {
  margin-bottom: 25px;
}

.efi-ft-01-cell {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-ft-01-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.efi-ft-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.moreimagestab {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5%;
  display: flex;
}

.cf-menu-icon-2 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  margin-left: 10px;
  display: flex;
}

.cf-nav-4-right-container-2 {
  align-items: stretch;
  display: flex;
}

.cf-close-text-2 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.cf-close-text-2:hover {
  color: #151516;
}

.cf-close-contain-2 {
  background-image: url('../images/cross-icon.svg');
  background-position: 50%;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  margin-right: 0;
  display: flex;
}

.cf-navigation-4-container-2 {
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1340px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.cf-navigation-4-container-2:hover {
  color: #fff;
}

.cf-link-text-navbar-5 {
  letter-spacing: -.8px;
  margin-left: 0;
}

.fn-navbar-box {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0 rgba(255, 255, 255, .26);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  position: relative;
}

.cf-nav-4-menu-2 {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  display: flex;
  position: relative;
}

.cf-nav-4-menu-2:hover {
  opacity: 1;
}

.cf-pink-line-2 {
  background-color: #ff4f11;
  width: 46px;
  height: 2px;
  margin-right: 20px;
}

.cf-pink-line-2.animate {
  background-color: #000;
  width: 0;
  margin-right: 20px;
}

.cf-menu-navigation-wrap-2 {
  z-index: 10000000;
  opacity: 0;
  background-color: #b6ff7e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 52px 111px 150px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: scroll;
}

.cf-navigation-4-link-2 {
  color: #000;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  line-height: 187%;
  text-decoration: none;
  display: flex;
}

.cf-navigation-4-link-2.w--current {
  color: #1c0309;
  padding-left: 0;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.section-13 {
  z-index: 3;
  background-color: #272727;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  display: flex;
  position: relative;
}

.cf-menu-line-2._2 {
  color: #000;
  background-color: #fff;
  width: 26.5px;
  height: 2px;
  margin-bottom: 0;
  transform: scale(1);
}

.cf-menu-line-2._1 {
  color: #000;
  background-color: #fff;
  width: 14px;
  height: 2px;
  margin-bottom: 10px;
  transform: translate(0);
}

.cf-nav-4-links-left-container-2 {
  flex-direction: column;
  align-items: flex-start;
  width: 230px;
  margin-right: 100px;
  display: flex;
}

.cf-nav-4-links-container-2 {
  justify-content: space-between;
  width: auto;
  margin-top: 124px;
  margin-left: 60px;
  display: flex;
}

.cf-menu-text-2 {
  color: #f1f1f1;
  letter-spacing: .8px;
  text-transform: lowercase;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 125%;
}

.cf-menu-text-2:hover {
  color: #f3f3f3;
}

.cf-menu-text-2:active {
  color: #f0f0f0;
}

.cf-menu-text-2:focus {
  color: #ececec;
}

.cf-close-button-2 {
  cursor: pointer;
  background-color: #fff;
  align-items: center;
  padding: 25px 44px;
  transition: opacity .2s;
  display: flex;
  position: absolute;
  top: 58px;
  bottom: auto;
  left: auto;
  right: 111px;
}

.cf-close-button-2:hover {
  opacity: .8;
  color: #0d0e0f;
}

.text-block-21 {
  text-align: right;
  margin-bottom: -26px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
}

.buyvariant {
  color: #fff;
  background-color: #000;
  margin-left: 6px;
  padding: 5px 40px;
}

.buyvariant.slut {
  opacity: .51;
}

.fn-features-card-with-image {
  color: #ecf0ef;
  background-color: #0f1213;
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.fn-features-card-with-image:hover {
  color: #ecf0ef;
}

.efi-paragraph-2 {
  z-index: 2;
  color: #000;
  text-align: right;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}

.efi-h2 {
  color: #000;
  letter-spacing: 21px;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 12px;
}

.column-5 {
  z-index: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: static;
}

.column-6 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  display: flex;
}

.columns-4 {
  justify-content: center;
  align-items: center;
  padding-top: 173px;
  padding-bottom: 100px;
  display: flex;
}

.image-5 {
  z-index: 2;
  aspect-ratio: auto;
  max-width: none;
  margin-top: 262px;
  position: relative;
  overflow: visible;
}

.image-6 {
  z-index: 1;
  box-sizing: border-box;
  vertical-align: baseline;
  object-fit: fill;
  flex: 0 auto;
  order: -1;
  align-self: center;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: -273px;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
  transform: rotate(90deg);
}

.linkf {
  color: #969696;
  background-color: rgba(0, 0, 0, 0);
  font-family: Exo, sans-serif;
  font-weight: 900;
  text-decoration: none;
}

.container-37 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.container-38 {
  flex-flow: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 1900px;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  font-family: Montserrat, sans-serif;
  display: block;
}

.logo {
  color: #fff;
  letter-spacing: 2px;
  margin-top: 10px;
  font-family: Changa One, Impact, sans-serif;
  font-weight: 400;
  line-height: 38px;
  text-decoration: none;
}

.thumbnails_main {
  z-index: 2;
  width: 100%;
  padding-top: 48%;
  position: relative;
}

.thumbnails_item {
  width: 24%;
  padding-top: 10%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 6em;
}

.container.is-thumbnails {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding-top: 7.5em;
  display: flex;
}

.thumbnails {
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  width: 100%;
  font-size: 1em;
  position: relative;
  overflow: hidden;
}

.thumbnails_img {
  object-fit: cover;
  width: 80%;
  height: 180%;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.thumbnails_list {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 52%;
  display: flex;
}

.container-39 {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.columns-5 {
  border-top: 1px solid #000;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 100px;
  display: flex;
}

.column-7 {
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0;
  padding-right: 10px;
  display: flex;
}

.column-8 {
  justify-content: center;
  align-items: center;
  padding: 40px;
  display: flex;
}

.slider {
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  height: auto;
  display: block;
}

.image-7 {
  max-width: 100%;
}

.slide {
  vertical-align: baseline;
}

.mask {
  padding: 60px;
  position: relative;
}

.efi-paragraph-3 {
  color: #555;
}

.efi-h4-2 {
  color: #000;
}

.efi-ft-02-features-grid {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.efi-ft-02-image-wrapper {
  margin-bottom: 75px;
}

.efi-h2-2 {
  color: #464646;
  text-transform: uppercase;
  margin-bottom: 67px;
  padding-left: 134px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

.efi-ft-02-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  margin-bottom: 50px;
}

.efi-ft-02-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-02 {
  padding: 150px 5% 100px;
}

.efi-ft-06-image {
  margin-bottom: 15px;
}

.efi-ft-06-cell {
  color: #fff;
}

.efi-ft-06-features {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.efi-ft-06-grid {
  grid-column-gap: 50px;
  grid-template: "."
  / 1fr;
  margin-bottom: 125px;
}

.efi-ft-06-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-06 {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 5% 100px;
}

.image-9 {
  padding-right: 0;
}

.image-10 {
  max-width: 50%;
}

.list {
  padding-left: 0;
}

.flex-block-2 {
  height: 350px;
}

@media screen and (min-width: 1920px) {
  .heading-jumbo-4 {
    color: #fff;
  }

  .divider.cc-dark-divider {
    color: #fff;
    background-color: #000;
  }

  .container-30.cu {
    background-color: #272727;
  }

  .section-2 {
    background-color: #272727;
    border-top-style: none;
  }

  .section-2.cu {
    background-color: #272727;
    border-top-width: 0;
  }

  .container-35.cu {
    background-color: #272727;
  }

  .section-15 {
    background-color: #272727;
    border-top-style: none;
  }

  .section-15.cu {
    background-color: #272727;
    border-top-width: 0;
  }

  .flex-block {
    margin-top: 0;
  }

  .product-details-wrap {
    padding-right: 0;
  }

  .section.cc-product-detail {
    background-color: #b6ff7e;
    padding-top: 140px;
    padding-bottom: 60px;
  }

  .list-item {
    color: #000;
  }

  .paragraph-light {
    opacity: 1;
    font-size: 24px;
  }

  .efi-paragraph {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }

  .efi-h4 {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
  }

  .section-13 {
    background-color: #272727;
  }

  .cf-close-button-2:hover {
    color: #222325;
  }

  .efi-paragraph-2 {
    padding-top: 176px;
    padding-bottom: 57px;
    line-height: 28px;
    position: static;
  }

  .efi-h2 {
    margin-top: 0;
  }

  .column-6 {
    margin-bottom: 0;
  }

  .columns-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .image-6 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 140px;
    position: static;
    top: 28%;
  }

  .column-7 {
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .heading-jumbo-4 {
    font-size: 56px;
    line-height: 70px;
  }

  .fn-footer-image {
    max-width: none;
    margin-top: 12px;
  }

  .fn-footer-legal-link-2 {
    transition: none;
  }

  .fn-footer-legal-link-2:hover {
    color: #939b9b;
  }

  .fn-social-link-dark {
    transition: none;
  }

  .fn-social-link-dark:hover {
    opacity: 1;
  }

  .fn-footer-wrapper-2 {
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 0;
  }

  .fn-footer-copyright {
    font-size: 14px;
    font-weight: 600;
  }

  .fn-brand-box {
    z-index: 2;
    transition: none;
  }

  .fn-brand-box:hover {
    opacity: 1;
  }

  .fn-legal-links-wrapper {
    grid-column-gap: 11px;
    grid-row-gap: 11px;
    font-size: 12px;
  }

  .fn-footer-advence-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fn-container-grid-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .container-30.cu {
    flex-flow: column;
    padding-top: 60px;
  }

  .section-2.cu {
    flex-flow: row;
  }

  .contact-form-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .container-35.cu {
    flex-flow: column;
    padding-top: 60px;
  }

  .container-35.cu.aout {
    background-color: #272727;
    flex-flow: column;
    padding-top: 60px;
  }

  .section-15.cu {
    flex-flow: row;
  }

  .flex-block {
    margin-top: 49px;
  }

  .heading-40 {
    justify-content: center;
    align-self: center;
    align-items: center;
    min-height: 75px;
    font-size: 10px;
    display: flex;
  }

  .heading-15 {
    padding-right: 0;
  }

  .product-details-wrap {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .section.cc-product-detail {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabs {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .tabs-menu {
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .tab-pane-tab-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .button-10 {
    margin-bottom: 0;
    margin-right: 0;
    top: 220px;
    left: -149px;
  }

  .text-block-19, .text-block-20 {
    font-size: 14px;
  }

  .tab-pane-tab-1-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .efi-ft-01-grid {
    grid-template-columns: 1fr;
  }

  .moreimagestab {
    flex-flow: column;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .cf-close-contain-2 {
    background-image: url('../images/cross-icon.svg');
    background-position: 50%;
    background-size: auto;
  }

  .cf-navigation-4-container-2 {
    max-width: 650px;
    padding-left: 0;
  }

  .cf-menu-navigation-wrap-2 {
    opacity: 0;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 85px;
    display: none;
  }

  .section-13 {
    background-color: #272727;
    padding-left: 0;
    padding-right: 0;
  }

  .cf-nav-4-links-left-container-2 {
    margin-right: 140px;
  }

  .cf-nav-4-links-container-2 {
    margin-top: 100px;
    margin-left: 0;
  }

  .cf-close-button-2 {
    top: 52px;
    right: 85px;
  }

  .efi-paragraph-2 {
    margin-bottom: 46px;
    line-height: 28px;
  }

  .efi-h2 {
    text-align: center;
    align-self: center;
    margin-top: 0;
  }

  .column-6 {
    align-self: center;
    margin-bottom: 100px;
  }

  .columns-4 {
    flex-flow: row-reverse wrap-reverse;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .image-5 {
    margin-top: 165px;
  }

  .thumbnails_item {
    width: 49%;
    margin-top: 2%;
    padding-top: 20%;
  }

  .container {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .thumbnails_list {
    padding-top: 0%;
  }

  .columns-5 {
    flex-flow: column;
    position: static;
  }

  .column-7 {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .column-8 {
    flex: 0 auto;
    order: 0;
    align-self: auto;
    position: relative;
  }

  .efi-h2-2 {
    padding-left: 0;
  }

  .efi-ft-02-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .efi-ft-02 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .efi-ft-06-features {
    grid-template-columns: 1fr 1fr;
  }

  .efi-ft-06 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .image-9 {
    margin-bottom: 39px;
  }

  .list {
    padding-left: 0;
  }

  .flex-block-2 {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    flex-flow: column;
  }
}

@media screen and (max-width: 767px) {
  .heading-jumbo-4 {
    font-size: 50px;
    line-height: 64px;
  }

  .fn-footer-legal-link-2 {
    font-size: 10px;
  }

  .fn-footer-wrapper-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .fn-footer-copyright {
    font-size: 12px;
  }

  .fn-brand-box {
    margin-right: 0;
    padding-left: 0;
  }

  .fn-social-share-wrapper-second {
    flex-direction: row;
    margin-top: 12px;
  }

  .fn-footer-advence-2 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .fn-container-grid-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container-30 {
    text-align: center;
  }

  .section-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section-2.cu {
    margin-left: 0;
    margin-right: 0;
  }

  .container-35 {
    text-align: center;
  }

  .section-15 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section-15.cu {
    margin-left: 0;
    margin-right: 0;
  }

  .flex-block {
    margin-top: 45px;
  }

  .product-details-wrap {
    width: 90%;
  }

  .section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section.cc-product-detail {
    margin-left: 0;
    margin-right: 0;
    padding-top: 60px;
  }

  .tabs {
    margin-top: 0;
  }

  .tabs-content {
    font-size: 12px;
  }

  .tabs-menu {
    flex-flow: wrap-reverse;
  }

  .tab-pane-tab-1 {
    margin-top: 20px;
    font-weight: 600;
  }

  .text-block-19, .text-block-20 {
    font-size: 12px;
  }

  .tab-pane-tab-1-2 {
    margin-top: 20px;
    font-weight: 600;
  }

  .efi-ft-01-grid {
    grid-template-columns: 1fr;
  }

  .cf-close-text-2 {
    display: none;
  }

  .cf-close-contain-2 {
    background-image: url('../images/cross-icon.svg');
    background-position: 50%;
    background-size: auto;
    margin-right: 0;
  }

  .cf-navigation-4-container-2 {
    width: 90%;
    max-width: 550px;
  }

  .cf-link-text-navbar-5 {
    font-size: 26px;
  }

  .cf-menu-navigation-wrap-2 {
    opacity: 0;
    padding-left: 60px;
    padding-right: 60px;
    display: none;
  }

  .cf-nav-4-links-left-container-2 {
    align-items: center;
    width: auto;
    margin-right: 20px;
  }

  .cf-nav-4-links-container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 650px;
  }

  .cf-close-button-2 {
    border-radius: 100px;
    padding: 16px;
    top: 52px;
    right: 60px;
  }

  .column-6 {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .image-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .efi-ft-02-features-grid, .efi-ft-06-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .heading-jumbo-4 {
    font-size: 18px;
    line-height: 48px;
  }

  .fn-footer-image {
    text-align: center;
    max-width: none;
  }

  .fn-footer-image._1 {
    flex-flow: column;
  }

  .divider.cc-dark-divider {
    margin-top: 0;
    padding-top: 0;
  }

  .fn-footer-wrapper-2 {
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .fn-legal-links-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .fn-links-wrapper {
    margin-bottom: 12px;
  }

  .fn-footer-advence-2 {
    margin-top: 0;
  }

  .fn-container-grid-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: center;
    display: grid;
  }

  .contact-form-grid {
    width: 100%;
  }

  .flex-block {
    flex-flow: column-reverse;
    margin-top: 27px;
    margin-bottom: 93px;
  }

  .heading-40 {
    min-width: 200px;
  }

  .heading-15 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 30px;
  }

  .product-details-wrap {
    width: 100%;
    max-width: none;
    margin-bottom: 0;
  }

  .section {
    flex-flow: row;
    padding-top: 40px;
  }

  .section.cc-product-detail {
    margin-left: 0;
    margin-right: 0;
  }

  .product-detail-price {
    font-family: Montserrat, sans-serif;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
  }

  .product-detail-measurement {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }

  .product-detail-unit-text {
    margin-bottom: 14px;
  }

  .paragraph-light {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
  }

  .tabs {
    margin-top: 40px;
  }

  .page-content.top-pad {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .rich-text-block-3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .tabs-menu {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column-reverse;
  }

  .tab-pane-tab-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .button-10 {
    opacity: .62;
    font-size: 10px;
    top: 100px;
    left: -40px;
  }

  .cf-close-text-2 {
    display: none;
  }

  .cf-close-contain-2 {
    width: 16px;
    height: 16px;
    margin-right: 0;
  }

  .cf-navigation-4-container-2 {
    max-width: none;
  }

  .fn-navbar-box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cf-menu-navigation-wrap-2 {
    opacity: 0;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 30px;
    display: none;
  }

  .cf-nav-4-links-left-container-2 {
    width: auto;
    margin-right: 0;
    font-size: 30px;
  }

  .cf-nav-4-links-container-2 {
    flex-direction: column;
    margin-top: 40px;
    margin-left: 0;
    font-size: 30px;
  }

  .cf-menu-text-2 {
    font-size: 14px;
  }

  .cf-close-button-2 {
    padding: 16px;
    top: 40px;
    right: 20px;
  }

  .efi-paragraph-2 {
    margin-bottom: 33px;
    padding: 293px 10px 0;
    font-size: 16px;
  }

  .efi-h2 {
    letter-spacing: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .column-6 {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .columns-4 {
    flex-flow: row-reverse wrap-reverse;
    padding-top: 0;
    padding-bottom: 0;
  }

  .image-5 {
    max-width: none;
    margin-bottom: -126px;
  }

  .image-6 {
    position: static;
    top: -7%;
    left: -36%;
    right: -23%;
  }

  .efi-h2-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .efi-ft-06-cell {
    padding-left: 10px;
    padding-right: 10px;
  }

  .efi-ft-06-features {
    grid-template-columns: 1fr;
  }

  .image-10 {
    max-width: 70%;
  }
}

#w-node-_9d615aec-fc29-0c14-a0c2-bbd45082094b-50820930 {
  grid-area: 3 / 1 / 4 / 12;
  justify-self: center;
}

#w-node-_8e40791f-c1f5-f46c-2688-2dc4de5202f6-50820930 {
  grid-area: 2 / 9 / 3 / 12;
  justify-self: end;
}

#w-node-c051c3ec-079d-db8b-688c-dff6a70760b7-30e92eec {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_501682f9-59e6-923d-9c1c-48b35e6f1445-a48939da {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: auto;
}

#w-node-_501682f9-59e6-923d-9c1c-48b35e6f144d-a48939da, #w-node-_501682f9-59e6-923d-9c1c-48b35e6f1455-a48939da, #w-node-_501682f9-59e6-923d-9c1c-48b35e6f145d-a48939da {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_9d615aec-fc29-0c14-a0c2-bbd45082094b-50820930 {
    grid-area: 4 / 1 / 5 / 9;
    justify-self: center;
  }

  #w-node-_8e40791f-c1f5-f46c-2688-2dc4de5202f6-50820930 {
    grid-area: 2 / 6 / 3 / 8;
  }

  #w-node-c051c3ec-079d-db8b-688c-dff6a70760b7-30e92eec {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_9d615aec-fc29-0c14-a0c2-bbd45082094b-50820930 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  #w-node-_8e40791f-c1f5-f46c-2688-2dc4de5202f6-50820930 {
    grid-area: span 1 / span 4 / span 1 / span 4;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_9d615aec-fc29-0c14-a0c2-bbd45082094b-50820930 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }
}


