:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-commerce-commercecheckoutformcontainer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-commerce-commercelayoutcontainer {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.w-commerce-commercelayoutmain {
  flex: 0 800px;
  margin-right: 20px;
}

.w-commerce-commercecartapplepaybutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #000;
  border-width: 0;
  border-radius: 2px;
  align-items: center;
  height: 38px;
  min-height: 30px;
  margin-bottom: 8px;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.w-commerce-commercecartapplepayicon {
  width: 100%;
  height: 50%;
  min-height: 20px;
}

.w-commerce-commercecartquickcheckoutbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #000;
  border-width: 0;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-bottom: 8px;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
}

.w-commerce-commercequickcheckoutgoogleicon, .w-commerce-commercequickcheckoutmicrosofticon {
  margin-right: 8px;
  display: block;
}

.w-commerce-commercecheckoutcustomerinfowrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutblockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-commerce-commercecheckoutblockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 20px;
}

.w-commerce-commercecheckoutlabel {
  margin-bottom: 8px;
}

.w-commerce-commercecheckoutemailinput {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutemailinput::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutemailinput:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingaddresswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutshippingfullname {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingfullname::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingfullname:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstreetaddress {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstreetaddress::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddress:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstreetaddressoptional:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutrow {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
}

.w-commerce-commercecheckoutcolumn {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

.w-commerce-commercecheckoutshippingcity {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingcity::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcity:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingstateprovince {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingstateprovince::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingstateprovince:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingzippostalcode {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingzippostalcode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingzippostalcode:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingcountryselector {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutshippingcountryselector::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutshippingcountryselector:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutshippingmethodswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutshippingmethodslist {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.w-commerce-commercecheckoutshippingmethoditem {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0;
  padding: 16px;
  font-weight: 400;
  display: flex;
}

.w-commerce-commercecheckoutshippingmethoddescriptionblock {
  flex-direction: column;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
}

.w-commerce-commerceboldtextblock {
  font-weight: 700;
}

.w-commerce-commercecheckoutshippingmethodsemptystate {
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding: 64px 16px;
}

.w-commerce-commercecheckoutpaymentinfowrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutcardnumber {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardnumber::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardnumber:focus, .w-commerce-commercecheckoutcardnumber.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutcardexpirationdate {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardexpirationdate::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardexpirationdate:focus, .w-commerce-commercecheckoutcardexpirationdate.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutcardsecuritycode {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: text;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutcardsecuritycode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutcardsecuritycode:focus, .w-commerce-commercecheckoutcardsecuritycode.-wfp-focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingaddresstogglewrapper {
  flex-direction: row;
  display: flex;
}

.w-commerce-commercecheckoutbillingaddresstogglecheckbox {
  margin-top: 4px;
}

.w-commerce-commercecheckoutbillingaddresstogglelabel {
  margin-left: 8px;
  font-weight: 400;
}

.w-commerce-commercecheckoutbillingaddresswrapper {
  margin-top: 16px;
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutbillingfullname {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingfullname::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingfullname:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstreetaddress {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstreetaddress::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddress:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstreetaddressoptional:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingcity {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingcity::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcity:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingstateprovince {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingstateprovince::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingstateprovince:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingzippostalcode {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingzippostalcode::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingzippostalcode:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutbillingcountryselector {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 38px;
  margin-bottom: 0;
  padding: 8px 12px;
  line-height: 20px;
  display: block;
}

.w-commerce-commercecheckoutbillingcountryselector::placeholder {
  color: #999;
}

.w-commerce-commercecheckoutbillingcountryselector:focus {
  border-color: #3898ec;
  outline-style: none;
}

.w-commerce-commercecheckoutorderitemswrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummaryblockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-commerce-commercecheckoutorderitemslist {
  margin-bottom: -20px;
}

.w-commerce-commercecheckoutorderitem {
  margin-bottom: 20px;
  display: flex;
}

.w-commerce-commercecartitemimage {
  width: 60px;
  height: 0%;
}

.w-commerce-commercecheckoutorderitemdescriptionwrapper {
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
}

.w-commerce-commercecheckoutorderitemquantitywrapper {
  white-space: pre-wrap;
  display: flex;
}

.w-commerce-commercecheckoutorderitemoptionlist {
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}

.w-commerce-commercelayoutsidebar {
  flex: 0 0 320px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.w-commerce-commercecheckoutordersummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummarylineitem, .w-commerce-commercecheckoutordersummaryextraitemslistitem {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  display: flex;
}

.w-commerce-commercecheckoutsummarytotal {
  font-weight: 700;
}

.w-commerce-commercecheckoutplaceorderbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-align: center;
  background-color: #3898ec;
  border-width: 0;
  border-radius: 3px;
  align-items: center;
  margin-bottom: 20px;
  padding: 9px 15px;
  text-decoration: none;
  display: block;
}

.w-commerce-commercecheckouterrorstate {
  background-color: #ffdede;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 16px;
}

.w-commerce-commercepaypalcheckoutformcontainer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-commerce-commercecheckoutcustomerinfosummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercecheckoutsummaryitem, .w-commerce-commercecheckoutsummarylabel {
  margin-bottom: 8px;
}

.w-commerce-commercecheckoutsummaryflexboxdiv {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.w-commerce-commercecheckoutsummarytextspacingondiv {
  margin-right: .33em;
}

.w-commerce-commercecheckoutpaymentsummarywrapper {
  margin-bottom: 20px;
}

.w-commerce-commercepaypalcheckouterrorstate {
  background-color: #ffdede;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px 16px;
}

.w-commerce-commerceorderconfirmationcontainer {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-commerce-commercecheckoutshippingsummarywrapper {
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }

  .w-commerce-commercelayoutcontainer {
    flex-direction: column;
    align-items: stretch;
  }

  .w-commerce-commercelayoutmain {
    flex-basis: auto;
    margin-right: 0;
  }

  .w-commerce-commercelayoutsidebar {
    flex-basis: auto;
  }
}

@media screen and (max-width: 479px) {
  .w-commerce-commercecheckoutemailinput, .w-commerce-commercecheckoutshippingfullname, .w-commerce-commercecheckoutshippingstreetaddress, .w-commerce-commercecheckoutshippingstreetaddressoptional {
    font-size: 16px;
  }

  .w-commerce-commercecheckoutrow {
    flex-direction: column;
  }

  .w-commerce-commercecheckoutshippingcity, .w-commerce-commercecheckoutshippingstateprovince, .w-commerce-commercecheckoutshippingzippostalcode, .w-commerce-commercecheckoutshippingcountryselector, .w-commerce-commercecheckoutcardnumber, .w-commerce-commercecheckoutcardexpirationdate, .w-commerce-commercecheckoutcardsecuritycode, .w-commerce-commercecheckoutbillingfullname, .w-commerce-commercecheckoutbillingstreetaddress, .w-commerce-commercecheckoutbillingstreetaddressoptional, .w-commerce-commercecheckoutbillingcity, .w-commerce-commercecheckoutbillingstateprovince, .w-commerce-commercecheckoutbillingzippostalcode, .w-commerce-commercecheckoutbillingcountryselector {
    font-size: 16px;
  }
}

.section-9 {
  filter: saturate(0%);
  background-color: #272727;
  background-image: url('../images/191216150007806186.webp');
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  display: flex;
}

.heading-32 {
  color: #fff;
  text-align: center;
  text-transform: lowercase;
  white-space: break-spaces;
  padding-left: 0;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 200;
}

.paragraph-8 {
  color: #fff;
  text-align: center;
  white-space: break-spaces;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.hero-wrapper-5 {
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 140px;
  display: flex;
}

.hero-wrapper-5._2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 140px;
  padding-bottom: 100px;
}

.hero-split-5 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.container-19 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom-24px-5 {
  color: #fff;
  white-space: break-spaces;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.heading-28 {
  color: var(--white);
  white-space: break-spaces;
  font-size: 60px;
  font-weight: 400;
}

.button-primary-4 {
  color: #000;
  letter-spacing: 2px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.button-primary-4._1 {
  padding-left: 94px;
  font-weight: 300;
}

.button-primary-4._2 {
  background-color: #b6b6b6;
  font-weight: 300;
}

.button-primary-4._2._3 {
  background-color: #e7cbe0;
}

.hero-heading-left-2 {
  background-color: #b8e0b7;
  border: 1px #000;
  border-bottom-width: 0;
  padding: 140px 30px;
  position: relative;
}

.container-buttons {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.shadow-two-5 {
  filter: contrast(86%);
  max-width: 100%;
}

.shadow-two-7, .shadow-two-8 {
  max-width: 100%;
}

.hero-heading-left-3 {
  background-color: #272727;
  background-image: linear-gradient(rgba(24, 24, 24, .81), rgba(24, 24, 24, .81)), url('../images/wallpaper-1.png');
  background-position: 0 0, 0%;
  background-size: auto, auto;
  border-bottom: 1px solid #e4ebf3;
  padding: 100px 30px 140px;
  position: relative;
}

.hero-heading-right-5 {
  background-color: #b8e0b7;
  border-bottom: 1px solid #e4ebf3;
  padding: 140px 30px;
  position: relative;
}

.section {
  background-color: #272727;
  border-top: 1px #e2e2e2;
  border-bottom: 1px #e2e2e2;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.paragraph-tiny {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  color: #000;
  background-color: #272727;
  border: 0 #e6e6e6;
  align-items: center;
  padding: 10px 50px;
  display: flex;
}

.navigation-items {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding-right: 34px;
  display: flex;
}

.section-10 {
  z-index: 10;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  position: relative;
}

.section-10.clip {
  overflow: hidden;
}

.section-10.no-bottom-padding {
  padding-bottom: 0;
}

.section-10.no-padding {
  padding: 0;
}

.arrow-icon {
  width: 14px;
}

.tab-bottom {
  background-color: rgba(244, 248, 250, 0);
  border-top: 1px #e4e9ec;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.button {
  color: #000;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 14px 23px 14px 28px;
  font-size: 11px;
  line-height: 1.5em;
  text-decoration: none;
  display: flex;
}

.button.dark {
  color: #fff;
  background-color: #080808;
  line-height: 1.5em;
}

.instagram-grid {
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 6px;
  display: grid;
}

.arrow-cover {
  z-index: 25;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.product-page-hero {
  justify-content: center;
  display: flex;
}

.compare-price {
  color: #202020;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: line-through;
}

.compare-price._1 {
  display: none;
}

.half-grid {
  grid-column-gap: 100px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 50vw 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.product-sidebar {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: stretch;
  align-items: start;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 0;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}

.product-top {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.showcase-grid {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  align-items: start;
  width: 100%;
  padding-top: 65px;
  display: grid;
}

.back-button-wrapper {
  margin-right: 0;
  padding-right: 0;
  position: absolute;
  top: 36px;
  bottom: auto;
  left: 5vw;
  right: auto;
}

.stacked-content {
  z-index: 20;
  grid-column-gap: 16px;
  grid-row-gap: 48px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  display: grid;
  position: relative;
}

.stacked-content.large {
  grid-row-gap: 140px;
  grid-template-rows: auto;
}

.product-price {
  grid-column-gap: 16px;
  grid-row-gap: 6px;
  color: #667479;
  letter-spacing: .04em;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  font-size: 18px;
  font-weight: 300;
  display: grid;
}

.stacked-intro {
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.stacked-intro.small {
  grid-row-gap: 18px;
}

.width-large {
  max-width: 700px;
}

.width-small {
  max-width: 425px;
}

.tab-list {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 1px #e4e9ec;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.lottie-tab-icon {
  z-index: 10;
  opacity: 1;
  filter: invert();
  width: 14px;
  position: relative;
}

.grid-wrapper {
  z-index: 25;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(5vw, 1fr) minmax(auto, 1500px) minmax(5vw, 1fr);
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
  position: relative;
}

.product-detail-collection {
  margin-left: -6.5vw;
}

.instagram-background {
  background-image: url('../images/Image003.jpeg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.instagram-background.four {
  background-image: url('../images/Image008-1.jpg');
}

.instagram-background.two {
  background-image: url('../images/Image004-2.jpg');
}

.instagram-background.three {
  background-image: url('../images/Image001-1.jpg');
}

.instagram-background.one {
  background-image: url('../images/Image002-1.jpg');
}

.body-display {
  color: #000;
  font-size: 18px;
  line-height: 1.65em;
}

.body-display.extra-small {
  color: #fff;
  font-family: Varela, sans-serif;
  font-size: 15px;
}

.product-page-title {
  color: #fff;
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.product-page-top {
  flex-direction: column;
  display: flex;
}

.subtitle {
  color: #000;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
}

.product-feature-image {
  max-width: none;
  height: 100%;
}

.large-showcase-image {
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  margin-right: 6.5vw;
  padding-top: 65px;
  padding-bottom: 80px;
  padding-right: 48px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.product-detail-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(auto, 500px);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-top: -65px;
  display: grid;
}

.page-content {
  z-index: 10;
  background-color: #fff;
  position: relative;
}

.page-content.top-pad {
  background-color: rgba(255, 128, 32, 0);
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.half-content {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  max-width: 600px;
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
}

.button-text-wrapper {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.dual-button {
  grid-column-gap: 48px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.half-image {
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

.link-arrow-wrapper {
  overflow: hidden;
}

.hover-cover {
  background-color: #f4f8fa;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tab-title {
  z-index: 25;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #080808;
  letter-spacing: .15em;
  text-transform: uppercase;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
  display: grid;
  position: relative;
}

.tab-bottom-content {
  border-top: 1px #e4e9ec;
  margin-left: auto;
  margin-right: auto;
  padding: 28px 24px 28px 0;
}

.product-benefit-background {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.underline-link {
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  color: #667479;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 1px #e4e9ec;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  font-size: 11px;
  line-height: 1.5em;
  text-decoration: none;
  display: grid;
}

.wrapper-intro {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  display: grid;
}

.background-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.tab-item {
  border-bottom: 1px #e4e9ec;
  flex-direction: column;
  display: flex;
}

.related-products {
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.35em;
}

.heading.large {
  font-size: 42px;
}

.product-grid {
  grid-column-gap: 6px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tab-top {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 0 0 28px;
  text-decoration: none;
  transition: padding .5s cubic-bezier(.25, .46, .45, .94);
  position: relative;
  overflow: hidden;
}

.tab-top:hover {
  padding-left: 0;
  padding-right: 0;
}

.instagram-image-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.showcase-grid-image {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.product-wrapper {
  grid-column-gap: 6.5vw;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr minmax(auto, 500px);
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.product-left {
  position: relative;
}

.image {
  width: 17vw;
  max-width: 275px;
  height: 13vw;
  max-height: 200px;
  margin-top: 0;
  margin-bottom: -36px;
  position: relative;
  overflow: hidden;
}

.image.full-width {
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin-bottom: 0;
}

.instagram-image {
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  min-height: 16vw;
  font-size: 22px;
  line-height: 1.2em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.instagram-image.middle {
  color: #07090c;
  letter-spacing: .15em;
  min-width: 33.33vw;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.button-3 {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 0;
  margin-right: 6px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

.button-3:hover {
  color: #fff;
  background-color: #030303;
}

.button-3.tab1.w--current {
  color: #fff;
  background-color: #000;
}

.button-3.tab1.bilder, .button-3.sw, .button-3.swish {
  display: none;
}

.text-block {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 800;
}

.divider {
  background-color: #000;
  height: 3px;
}

.divider.cc-dark-divider {
  background-color: #202020;
  height: 3px;
}

.product-informations {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-item {
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  display: flex;
}

.paragraph-light {
  opacity: 1;
  letter-spacing: 0;
  text-transform: none;
  font-size: 22px;
  line-height: 28px;
}

.paragraph-light.product-detail {
  font-size: 26px;
}

.product-detail-measurement {
  align-items: center;
  display: flex;
}

.product-detail {
  font-size: 28px;
}

.list {
  color: #fff;
}

.text-block-2 {
  color: #414141;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.container-23 {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  display: flex;
}

.section-11 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.body-2 {
  background-color: #abdfe2;
}

.efi-ft-01-feature-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-ft-01-image-wrapper {
  margin-bottom: 25px;
}

.efi-ft-01-cell {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-ft-01-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.efi-ft-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-01 {
  padding: 150px 5% 100px;
}

.rich-text-block {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 100px;
}

.rich-text-block-2 {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
}

.tabs-menu {
  margin-bottom: 11px;
  margin-left: 0;
}

.tabs {
  margin-top: 168px;
  padding-left: 140px;
  padding-right: 140px;
}

.text-block-3 {
  font-weight: 700;
}

.column {
  padding-left: 0;
  padding-right: 10px;
}

.column-2 {
  padding-right: 0;
}

.body-3 {
  background-color: #b893e9;
}

.heading-36, .heading-38 {
  font-size: 20px;
}

.columns {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column-3 {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.heading-40 {
  color: #fff;
  letter-spacing: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.column-4 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.link {
  color: #fff;
  padding-right: 6px;
  font-weight: 700;
  text-decoration: none;
}

.heading-32-copy {
  color: #fff;
  text-align: center;
  text-transform: lowercase;
  white-space: break-spaces;
  background-color: #dadada;
  margin-bottom: 39px;
  padding: 20px 60px;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 900;
}

.section-9-copy {
  filter: saturate(74%) hue-rotate(180deg);
  background-color: rgba(39, 39, 39, 0);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  margin-top: 0;
  margin-bottom: 66px;
  padding-top: 67px;
  padding-bottom: 0;
  padding-right: 700px;
  display: flex;
}

.paragraph-8-copy {
  color: #fff;
  text-align: left;
  white-space: break-spaces;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.hero-heading-left-3-copy {
  background-color: #272727;
  background-image: linear-gradient(rgba(24, 24, 24, .81), rgba(24, 24, 24, .81)), url('../images/wallpaper-1.png');
  background-position: 0 0, 0%;
  background-size: auto, auto;
  border-bottom: 1px solid #e4ebf3;
  padding: 100px 30px 140px;
  position: relative;
}

.hero-wrapper-5-copy._2 {
  flex-flow: row;
  justify-content: space-around;
}

.hero-heading-left-3-copy {
  background-color: #272727;
  background-image: none;
  border-bottom: 1px #e4ebf3;
  padding: 0 30px 100px;
  position: relative;
}

.hero-wrapper-5-copy {
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-wrapper-5-copy._2 {
  justify-content: space-around;
  padding-bottom: 140px;
}

.button-primary-4-copy._2 {
  color: #fff;
  background-color: #b6b6b6;
  font-weight: 300;
}

.button-primary-4-copy._2._3 {
  color: #fff;
  background-color: #e7cbe0;
}

.container-19-copy {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-5-copy {
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.hero-wrapper-5-copy._2 {
  flex-flow: row;
  justify-content: space-around;
  padding-top: 220px;
  padding-bottom: 100px;
}

.heading-28-copy {
  color: var(--white);
  white-space: break-spaces;
  font-size: 60px;
  font-weight: 400;
}

.margin-bottom-24px-5-copy {
  color: #fff;
  white-space: break-spaces;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container-20-copy {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.button-primary-4-copy {
  color: #000;
  letter-spacing: 2px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4-copy:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4-copy:active {
  background-color: #43464d;
}

.button-primary-4-copy._1 {
  padding-left: 94px;
  font-weight: 300;
}

.button-primary-4-copy._2 {
  background-color: #b6b6b6;
  font-weight: 300;
}

.button-primary-4-copy._2._3 {
  background-color: #e7cbe0;
}

.hero-split-5-copy {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.shadow-two-8-copy {
  max-width: 100%;
}

.hero-heading-left-3-copy-copy {
  background-color: #272727;
  border-bottom: 1px solid #3b3b3b;
  padding: 100px 30px 140px;
  position: relative;
}

.shadow-two-7-copy {
  max-width: 100%;
}

.button-primary-4-copy-copy._2 {
  color: #fff;
  background-color: #b6b6b6;
  font-weight: 300;
}

.button-primary-4-copy-copy._2._3 {
  color: #fff;
  background-color: #e7cbe0;
}

.container-19-copy-copy {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-5-copy-copy {
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.hero-wrapper-5-copy-copy._2 {
  flex-flow: row;
  justify-content: space-around;
}

.heading-28-copy-copy {
  color: var(--white);
  white-space: break-spaces;
  font-size: 60px;
  font-weight: 400;
}

.margin-bottom-24px-5-copy-copy {
  color: #fff;
  white-space: break-spaces;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.container-20-copy-copy {
  justify-content: center;
  align-self: auto;
  align-items: center;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.button-primary-4-copy-copy {
  color: #000;
  letter-spacing: 2px;
  -webkit-text-stroke-color: #000;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4-copy-copy:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4-copy-copy:active {
  background-color: #43464d;
}

.button-primary-4-copy-copy._1 {
  padding-left: 94px;
  font-weight: 300;
}

.button-primary-4-copy-copy._2 {
  background-color: #b6b6b6;
  font-weight: 300;
}

.button-primary-4-copy-copy._2._3 {
  background-color: #e7cbe0;
}

.hero-split-5-copy-copy {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.shadow-two-8-copy-copy {
  max-width: 100%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.paragraph-9, .paragraph-10, .paragraph-11 {
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .shadow-two-5 {
    box-shadow: none;
  }

  .navigation {
    background-color: #272727;
    border: 0 rgba(230, 230, 230, 0);
  }

  .product-page-title {
    font-size: 34px;
  }
}

@media screen and (max-width: 991px) {
  .hero-wrapper-5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-wrapper-5._2 {
    flex-flow: column-reverse;
  }

  .shadow-two-6 {
    margin-bottom: -242px;
    overflow: visible;
  }

  .hero-split-5 {
    max-width: 100%;
    margin-bottom: 40px;
    overflow: visible;
  }

  .container-19 {
    max-width: 728px;
  }

  .heading-28 {
    overflow: visible;
  }

  .hero-heading-left-2 {
    padding-top: 100px;
  }

  .shadow-two-5 {
    margin-bottom: -219px;
    overflow: hidden;
  }

  .shadow-two-8 {
    margin-bottom: -107px;
    overflow: hidden;
  }

  .hero-heading-left-3 {
    background-color: #3f3f3f;
    background-image: none;
  }

  .shadow-two-9 {
    margin-bottom: -123px;
    overflow: hidden;
  }

  .navigation {
    background-color: #272727;
    padding: 25px 30px;
  }

  .navigation-items {
    background-color: #272727;
  }

  .section-10 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .instagram-grid {
    grid-row-gap: 6px;
  }

  .half-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .product-sidebar {
    max-width: 675px;
    padding-top: 48px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .showcase-grid {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding-top: 0;
  }

  .showcase-item {
    width: 50vw;
    min-width: 50vw;
    padding-right: 0;
  }

  .tab-list {
    max-width: none;
  }

  .product-detail-collection {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 6px;
    overflow: auto;
  }

  .large-showcase-image {
    min-height: auto;
    max-height: none;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }

  .product-detail-grid {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .half-content {
    grid-row-gap: 36px;
    background-color: #fff;
    max-width: none;
    padding: 0 10vw 80px 5vw;
  }

  .half-image {
    height: 70vw;
    min-height: 500px;
  }

  .hover-cover {
    display: none;
  }

  .large-collection-item {
    min-width: 40vw;
  }

  .related-products {
    padding-left: 5vw;
    overflow: auto;
  }

  .heading {
    font-size: 32px;
  }

  .heading.large {
    font-size: 38px;
  }

  .tab-top:hover {
    padding-left: 0;
    padding-right: 0;
  }

  .product-wrapper {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .product-left {
    margin-bottom: 0;
    overflow: auto;
  }

  .image {
    width: 19vw;
    height: 14vw;
    margin-bottom: -50%;
  }

  .instagram-image {
    min-height: 18vw;
  }

  .instagram-image.middle {
    min-width: 25vw;
    min-height: 10vw;
    font-size: 15px;
  }

  .efi-ft-01-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-01 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .rich-text-block-2 {
    padding-left: 20px;
  }

  .tabs {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-heading-left-3-copy {
    background-color: #3f3f3f;
    background-image: none;
  }

  .container-19-copy {
    max-width: 728px;
  }

  .hero-wrapper-5-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-wrapper-5-copy._2 {
    flex-flow: column-reverse;
  }

  .heading-28-copy {
    overflow: visible;
  }

  .hero-split-5-copy {
    max-width: 100%;
    margin-bottom: 40px;
    overflow: visible;
  }

  .shadow-two-8-copy {
    margin-bottom: -107px;
    overflow: hidden;
  }

  .hero-heading-left-3-copy-copy {
    background-color: #3f3f3f;
    background-image: none;
  }

  .container-19-copy-copy {
    max-width: 728px;
  }

  .hero-wrapper-5-copy-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
  }

  .hero-wrapper-5-copy-copy._2 {
    flex-flow: column-reverse;
  }

  .heading-28-copy-copy {
    overflow: visible;
  }

  .hero-split-5-copy-copy {
    max-width: 100%;
    margin-bottom: 40px;
    overflow: visible;
  }

  .shadow-two-8-copy-copy {
    margin-bottom: -107px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .hero-heading-left-2 {
    padding: 60px 15px;
  }

  .shadow-two-7 {
    margin-bottom: -31px;
  }

  .hero-heading-left-3, .hero-heading-right-5 {
    padding: 60px 15px;
  }

  .section {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    text-align: center;
  }

  .navigation {
    color: #000;
    background-color: #272727;
    padding: 20px 30px;
  }

  .navigation-items {
    background-color: #272727;
  }

  .section-10 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .instagram-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-sidebar {
    padding-top: 36px;
  }

  .showcase-item {
    width: 75vw;
    min-width: 75vw;
  }

  .large-showcase-image {
    margin-right: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .half-content {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .half-image {
    height: 75vw;
    min-height: 400px;
  }

  .large-collection-item {
    min-width: 60vw;
  }

  .wrapper-intro {
    grid-template-columns: 1fr;
    justify-content: start;
    justify-items: start;
  }

  .heading.large {
    font-size: 36px;
  }

  .instagram-image {
    min-height: 23vw;
  }

  .efi-ft-01-grid {
    grid-template-columns: 1fr;
  }

  .rich-text-block-2 {
    padding-left: 20px;
  }

  .tabs {
    margin-top: 51px;
  }

  .column {
    padding-right: 0;
  }

  .column-2 {
    padding-left: 0;
  }

  .hero-heading-left-3-copy {
    padding: 60px 15px;
  }

  .hero-heading-left-3-copy-copy {
    padding: 60px 15px;
  }

  .shadow-two-7-copy {
    margin-bottom: -31px;
  }
}

@media screen and (max-width: 479px) {
  .heading-32 {
    font-size: 48px;
  }

  .paragraph-8 {
    font-size: 14px;
  }

  .shadow-two-6 {
    margin-bottom: -150px;
  }

  .container-19 {
    max-width: none;
  }

  .heading-28 {
    font-size: 50px;
  }

  .hero-heading-left-2 {
    padding-bottom: 60px;
  }

  .container-buttons {
    flex-flow: column;
  }

  .shadow-two-5 {
    margin-bottom: -152px;
  }

  .shadow-two-7 {
    margin-bottom: -84px;
  }

  .shadow-two-8 {
    margin-bottom: -97px;
  }

  .navigation {
    background-color: #272727;
    border-bottom-style: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navigation-items {
    background-color: #272727;
  }

  .section-10 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .instagram-grid {
    grid-template-columns: 1fr 1fr;
  }

  .product-sidebar {
    padding-top: 10px;
  }

  .stacked-content {
    grid-row-gap: 36px;
  }

  .product-price {
    grid-template-columns: auto;
  }

  .product-page-title {
    text-align: center;
  }

  .page-content.top-pad {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .half-content {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .dual-button {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
  }

  .half-image {
    height: 80vw;
    min-height: 275px;
  }

  .large-collection-item {
    min-width: 85vw;
  }

  .tab-bottom-content {
    padding: 36px 24px;
  }

  .related-products {
    padding-left: 5vw;
    overflow: auto;
  }

  .heading {
    font-size: 26px;
  }

  .heading.large {
    font-size: 32px;
  }

  .tab-top {
    display: flex;
  }

  .instagram-image {
    min-height: 48vw;
  }

  .instagram-image.middle {
    min-height: 20vw;
  }

  .product-informations {
    text-align: left;
  }

  .list-item {
    flex-direction: column;
    align-items: center;
  }

  .list {
    padding-left: 0;
  }

  .container-23 {
    text-align: center;
  }

  .rich-text-block {
    padding: 60px 20px 20px;
  }

  .rich-text-block-2 {
    padding-left: 20px;
  }

  .tabs {
    margin-top: 40px;
  }

  .image-3, .image-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .column-3 {
    justify-content: flex-end;
    align-items: center;
  }

  .heading-40 {
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
  }

  .column-4 {
    flex-flow: row;
  }

  .heading-32-copy {
    font-size: 48px;
  }

  .paragraph-8-copy {
    font-size: 14px;
  }

  .container-19-copy {
    max-width: none;
  }

  .heading-28-copy {
    font-size: 50px;
  }

  .container-20-copy {
    flex-flow: column;
  }

  .shadow-two-8-copy {
    margin-bottom: -97px;
  }

  .shadow-two-7-copy {
    margin-bottom: -84px;
  }

  .container-19-copy-copy {
    max-width: none;
  }

  .heading-28-copy-copy {
    font-size: 50px;
  }

  .container-20-copy-copy {
    flex-flow: column;
  }

  .shadow-two-8-copy-copy {
    margin-bottom: -97px;
  }
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbeb4-2dda69ad {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: center;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbeb5-2dda69ad {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#buy.w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbeb8-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: start;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbed8-2dda69ad {
  align-self: auto;
  justify-self: auto;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf4d-2dda69ad {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: auto;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf55-2dda69ad, #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf5d-2dda69ad, #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf65-2dda69ad {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf6f-2dda69ad {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf71-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf7e-2dda69ad {
  justify-self: start;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf8d-2dda69ad {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf9d-2dda69ad {
  justify-self: start;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfa6-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfac-2dda69ad {
  justify-self: end;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfb4-2dda69ad {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfb5-2dda69ad {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_54776459-085e-116b-934a-3de3fe671dd8-43acd0fc {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: center;
}

#w-node-_54776459-085e-116b-934a-3de3fe671dd9-43acd0fc {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#buy.w-node-_54776459-085e-116b-934a-3de3fe671ddc-43acd0fc {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: start;
}

#w-node-_54776459-085e-116b-934a-3de3fe671dfc-43acd0fc {
  align-self: auto;
  justify-self: auto;
}

#w-node-_54776459-085e-116b-934a-3de3fe671e77-43acd0fc {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: auto;
}

#w-node-_54776459-085e-116b-934a-3de3fe671e7f-43acd0fc, #w-node-_54776459-085e-116b-934a-3de3fe671e87-43acd0fc, #w-node-_54776459-085e-116b-934a-3de3fe671e8f-43acd0fc {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_54776459-085e-116b-934a-3de3fe671e99-43acd0fc {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_54776459-085e-116b-934a-3de3fe671e9b-43acd0fc {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_54776459-085e-116b-934a-3de3fe671ea8-43acd0fc {
  justify-self: start;
}

#w-node-_54776459-085e-116b-934a-3de3fe671eb7-43acd0fc {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_54776459-085e-116b-934a-3de3fe671ec7-43acd0fc {
  justify-self: start;
}

#w-node-_54776459-085e-116b-934a-3de3fe671ed0-43acd0fc {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_54776459-085e-116b-934a-3de3fe671ed6-43acd0fc {
  justify-self: end;
}

#w-node-_54776459-085e-116b-934a-3de3fe671ede-43acd0fc {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_54776459-085e-116b-934a-3de3fe671edf-43acd0fc {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d199-2824d196 {
  grid-area: 1 / 1 / 2 / 3;
  justify-self: center;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d19a-2824d196 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

#buy.w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d19d-2824d196 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: start;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d1bb-2824d196 {
  align-self: auto;
  justify-self: auto;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d20b-2824d196 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
  justify-self: auto;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d213-2824d196, #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d21b-2824d196, #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d223-2824d196 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d22d-2824d196 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d22f-2824d196 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d23c-2824d196 {
  justify-self: start;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d24b-2824d196 {
  grid-area: 1 / 1 / 2 / 3;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d25b-2824d196 {
  justify-self: start;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d264-2824d196 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d26a-2824d196 {
  justify-self: end;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d272-2824d196 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d273-2824d196 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

@media screen and (max-width: 991px) {
  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbeb4-2dda69ad {
    grid-column-end: 4;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbeb5-2dda69ad {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #buy.w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbeb8-2dda69ad {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf71-2dda69ad {
    grid-column: 1 / 6;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf8d-2dda69ad {
    grid-column: 1 / 4;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbf8e-2dda69ad {
    order: 9999;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfb4-2dda69ad {
    grid-column: 1 / 4;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671dd8-43acd0fc {
    grid-column-end: 4;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671dd9-43acd0fc {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #buy.w-node-_54776459-085e-116b-934a-3de3fe671ddc-43acd0fc {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671e9b-43acd0fc {
    grid-column: 1 / 6;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671eb7-43acd0fc {
    grid-column: 1 / 4;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671eb8-43acd0fc {
    order: 9999;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671ede-43acd0fc {
    grid-column: 1 / 4;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d199-2824d196 {
    grid-column-end: 4;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d19a-2824d196 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #buy.w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d19d-2824d196 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    justify-self: center;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d22f-2824d196 {
    grid-column: 1 / 6;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d24b-2824d196 {
    grid-column: 1 / 4;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d24c-2824d196 {
    order: 9999;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d272-2824d196 {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfac-2dda69ad {
    justify-self: start;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfc3-2dda69ad, #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfd5-2dda69ad {
    grid-area: 1 / 1 / 2 / 5;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671ed6-43acd0fc {
    justify-self: start;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671eed-43acd0fc, #w-node-_54776459-085e-116b-934a-3de3fe671eff-43acd0fc {
    grid-area: 1 / 1 / 2 / 5;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d26a-2824d196 {
    justify-self: start;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d281-2824d196, #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d293-2824d196 {
    grid-area: 1 / 1 / 2 / 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbebd-2dda69ad, #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbec3-2dda69ad, #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbed8-2dda69ad {
    justify-self: center;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfb4-2dda69ad {
    grid-column-start: 1;
  }

  #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfc3-2dda69ad, #w-node-_7d1eb8d5-b636-e5d8-a7f3-a9a1d2edbfd5-2dda69ad {
    grid-row: 2 / 3;
    grid-column-end: 3;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671de2-43acd0fc, #w-node-_54776459-085e-116b-934a-3de3fe671dfc-43acd0fc {
    justify-self: center;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671ede-43acd0fc {
    grid-column-start: 1;
  }

  #w-node-_54776459-085e-116b-934a-3de3fe671eed-43acd0fc, #w-node-_54776459-085e-116b-934a-3de3fe671eff-43acd0fc {
    grid-row: 2 / 3;
    grid-column-end: 3;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d1a2-2824d196, #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d1a6-2824d196, #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d1bb-2824d196 {
    justify-self: center;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d272-2824d196 {
    grid-column-start: 1;
  }

  #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d281-2824d196, #w-node-_1edc3a15-d4c3-bb81-5e78-345c2824d293-2824d196 {
    grid-row: 2 / 3;
    grid-column-end: 3;
  }
}


